@import "../../main.scss";
.navbar {
  position: sticky;
  top: 0%;
  color: black;
  padding: 20px 10px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
  backdrop-filter: blur(20px);
  @include themed() {
    background-color: t("themedark2");
  }
  .nav-dropdown-img {
    display: none;
  }
  #butt {
    padding: 0px;
    border: none;
    box-shadow: none;
    border: none;
    outline: none;
    .burger-menu {
      display: flex;
      flex-direction: column;
      width: 24px;
      height: 20px;
      transition: 0.3s ease;
      gap: 5px;
      .line {
        border-radius: 2px;
        width: 50%;
        height: 3px;
        transition: 0.3s ease-in;
        background: black;
        @include themed() {
          background-color: t("whitecolor");
        }
      }
      .second-line {
        width: 100%;
      }
      .third-line {
        align-self: flex-end;
      }
    }
  }
  .activate {
    transform: rotate(-45deg);
    transform-origin: center;
    transition: 0.3s ease;
    .first-line {
      transform: rotate(90deg) translate(8px, 0px);
      transform-origin: right;
      transition: 0.3s ease;
    }
    .third-line {
      transform: rotate(90deg) translate(-8px, 0px);
      transform-origin: left;
      transition: 0.3s ease;
    }
  }
  .theme-mode {
    label {
      height: 30px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      --gap: 8px;
      position: relative;
      z-index: 1;
      --size: 20px;
      cursor: pointer;
      background-color: grey;
      border-radius: 20px;
      padding: 0px 5px;
      .icon {
        display: flex;
        width: var(--size);
        height: var(--size);
        align-items: center;
        justify-content: center;
        gap: var(--gap);
        svg {
          color: white;
          width: 75%;
        }
      }
    }
    input {
      display: none;
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label::after {
      background-color: navy;
      content: "";
      color: black;
      height: var(--size);
      z-index: -1;
      // transform: translateY(-50%);
      width: var(--size);
      position: absolute;
      border-radius: 50%;
      // top: 20%;
      left: var(--gap);
      transition: 0.5s ease left;
    }
    input:checked + label::after {
      left: calc(100% - var(--size) - var(--gap));
    }
  }
  .nav-dropdown-img {
    display: none;
  }
  .navbar-cart-img {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    p {
      font-size: 22px;
      color: black;
      @include themed() {
        color: t("whitecolor");
      }
    }
    img {
      width: 100px;
    }
  }
  .nav-options {
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    @include themed() {
      color: t("whitecolor");
    }
    font-weight: 500;
    li {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      justify-content: center;
      a {
        color: black;
        @include themed() {
          color: t("whitecolor");
        }
      }
    }
    hr {
      border: none;
      width: 80%;
      height: 3px;
      border-radius: 10px;
      background: red;
      margin-top: 10px;
    }
  }

  .nav-options-visible {
    display: none;
  }
  .login-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    button {
      width: 100px;
      height: 45px;
      border-radius: 15px;
      font-family: poppins;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: black;
    }
    button:active {
      background-color: whitesmoke;
    }
    .cart-img {
      display: flex;
      align-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        width: 40px;
        height: 40px;
      }
      .cart-img-count {
        font-size: 11px;
        width: 20px;
        color: black;
        text-align: center;
        height: 20px;
        display: flex;
        background-color: red;
        padding: 0px 0px;
        border-radius: 20px;
        color: white;
        margin-left: -10px;
        margin-top: -20px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .navbar {
    padding: 15px 0px 15px 8px;
    gap: 45px;
    .navbar-cart-img {
      gap: 35px;
      img {
        width: 85px;
      }
    }
    .nav-options {
      gap: 30px;
      font-size: 19px;
    }
    .nav-options-visible {
      display: none;
    }
    .login-cart {
      gap: 40px;
      button {
        width: 90px;
        height: 40px;
        font-size: 16px;
      }
      .cart-img {
        svg {
          width: 35px;
          height: 35px;
        }
        .cart-img-count {
          font-size: 10px;
          width: 19px;
          height: 19px;
          border-radius: 20px;
          margin-left: -10px;
          margin-top: -20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .navbar {
    padding: 12px 0px 15px 8px;
    gap: 40px;
    .navbar-cart-img {
      gap: 30px;
      img {
        width: 78px;
      }
      p {
        font-size: 20px;
      }
    }
    .nav-options {
      gap: 25px;
      font-size: 16px;
    }
    .login-cart {
      gap: 35px;
      button {
        width: 80px;
        height: 35px;
        font-size: 15px;
      }
      .cart-img {
        svg {
          width: 33px;
          height: 33px;
        }
        .cart-img-count {
          font-size: 10px;
          width: 16px;
          height: 16px;
          border-radius: 10px;
          margin-left: -10px;
          margin-top: -16px;
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .navbar {
    padding: 10px 0px 15px 5px;
    gap: 35px;
    .nav-dropdown-img {
      display: block;
    }
    .nav-dropdown-img {
      width: 32px;
    }
    .visible {
      rotate: 0deg;
      transition: 0.2s;
    }
    .navbar-cart-img {
      gap: 30px;
      img {
        width: 74px;
      }
      p {
        font-size: 19px;
      }
    }
    .nav-options {
      display: none;
    }
    .mobile_response {
      display: flex;
      width: 100%;
      top: 70px;
      padding: 5px;
      margin: 10px auto;
      background: white;
      @include themed() {
        background-color: t("themedark2");
      }
      flex-direction: column;
    }

    .login-cart {
      gap: 35px;
      button {
        width: 80px;
        height: 35px;
        font-size: 15px;
      }
      .cart-img {
        svg {
          width: 30px;
          height: 30px;
        }
        .cart-img-count {
          font-size: 10px;
          width: 16px;
          height: 16px;
          border-radius: 10px;
          margin-left: -10px;
          margin-top: -16px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 10px 0px 15px 5px;
    gap: 10px;
    #butt {
      .burger-menu {
        width: 19px;
        height: 19px;
      }
    }
    .theme-mode {
      label {
        height: 22px;
        width: 34px;
        --gap: 7px;
        --size: 15px;
      }
    }
    .nav-dropdown-img {
      width: 27px;
    }
    .navbar-cart-img {
      gap: 25px;
      img {
        width: 60px;
      }
      p {
        font-size: 18px;
      }
    }
    .nav-options {
      gap: 50px;
      font-size: 16px;
    }
    .login-cart {
      gap: 30px;
      button {
        width: 70px;
        height: 30px;
        font-size: 14px;
      }
      .cart-img {
        svg {
          width: 24px;
          height: 24px;
        }
        .cart-img-count {
          font-size: 10px;
          width: 16px;
          height: 16px;
          border-radius: 10px;
          margin-left: -10px;
          margin-top: -16px;
        }
      }
    }
  }
}

@media screen and (max-width: 394px) {
  .navbar {
    padding: 10px 0px 15px 5px;
    gap: 20px;
    .nav-dropdown-img {
      width: 23px;
    }
    .navbar-cart-img {
      gap: 20px;
      img {
        width: 50px;
      }
      p {
        font-size: 16px;
      }
    }
    .nav-options {
      gap: 30px;
      font-size: 14px;
    }
    .login-cart {
      gap: 20px;
      button {
        width: 70px;
        height: 30px;
        font-size: 13px;
      }
      .cart-img {
        svg {
          width: 25px;
          height: 25px;
        }
        .cart-img-count {
          font-size: 10px;
          width: 16px;
          height: 16px;
          border-radius: 10px;
          margin-left: -10px;
          margin-top: -16px;
        }
      }
    }
  }
}
